/*Color Variables Start */
:root {
    --green1: #67854A;
    --green2: #718C49;
    --green3: #95A617;
    --green4: #67854A;
    /* --brown6: #592C12; */
    /* --brown9: #715540; */
    /* --brown10: #D98566; */
    /* --brown11: #D98D62; */

    --blue: #18255a;
    --brown1: #735645;
    --brown2: #C2B7A0;
    --brown3: #C1BA9E;
    --brown4: #BFB79F;
    --brown5: #D9C7B8;
    --brown7: #735443;
    --brown8: #8C7365;
    --white: #ffffff;
    --light-blue: #4C6180;
    --dark1: #0c0c0c;
    --dark2: #1c1c1c;
    --ash: #333;
}

/*Color Variables End */

body {
    background: var(--white);
    font-family: 'Roboto', sans-serif;
}

/* button:focus{
    outline: none;
} */

/* Header Section Starts */
/* Top Header Starts */
#header .top-header {
    background: var(--green4);
    color: var(--white);
}

#header .top-header .get-quote {
    letter-spacing: 4px;
    font-size: 22px;
    color: var(--dark1);
    font-family: 'Oswald', sans-serif;
}

#header .top-header .top-contents .contact-ways {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 4px 10px 7px;
}

#header .top-header .contact-contents .contact-ways .fas {
    font-size: 22px;
}

/* Top Header Ends */

/* Header Navigation Starts */
#header #nav-header {
    background: #fff;
    box-shadow: 2px 1px 5px var(--green4);
    opacity: 0.8;
    z-index: 1;
}

/* Logo Starts */
#header #nav-header .logo {
    font-family: 'Syne Mono', monospace;
    text-transform: uppercase;
}

#header #nav-header .logo .doors {
    color: var(--green4);
}

#header #nav-header .logo .fas {
    font-size: 45px;
    color: var(--green4);
}

/* Logo Ends */

/* Toggler Button Starts */
#header #nav-header button {
    border: none;
}

#header #nav-header button:focus {
    outline: none;
}

/* Toggler Button Ends */


/* Menu Items Start */
#header #nav-header #menuItems ul li {
    margin: 0 15px;
}

#header #nav-header #menuItems ul li a {
    color: var(--ash);
    position: relative;
    overflow: hidden;
    border: none;
    transition: .75s ease-in-out;
}

#header #nav-header #menuItems ul li a:hover {
    color: var(--green4);
}

#header #nav-header #menuItems ul li a:after {
    content: '';
    position: absolute;
    background: var(--green4);
    height: 2px;
    width: 0%;
    transform: translateX(100%);
    left: -100%;
    bottom: 1px;
    border: none;
    transition: .75s ease-in-out;
}

#header #nav-header #menuItems ul li a:hover:after {
    width: 100%;
    color: var(--green4);
}

/* Menu Items End */
/* Header Navigation Ends */
/* Header Section Ends */


/* Main Area Starts */
/* Consultation Starts */
#consultation {
    background: url('../images/door26.jpg') no-repeat center center/cover;
    position: relative;
}

#consultation::after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    /* background-color: rgb(184, 180, 180);
    opacity: 0.5; */
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#consultation * {
    z-index: 1;
}

/* Consultation Message Starts */
#consultation .consultation-message h1 {
    color: var(--white);
    font-size: 4.2rem;
}
/* Consultation Message Ends */

/* Consultation Form Starts */
#consultation .consultation-form {
    background: transparent;
    margin: 5rem 0;
}

#consultation .consultation-form form {
    margin: 0 auto;
    width: 85%;
    background: radial-gradient(circle at 60% 12%,
            #67854A 60%,
            /* #29351d 12% */
            /* #334225 12% */
            /* #3d4f2c 12% */
            /* #485d33 12% */
            /* #526a3b 12% */
            #5c7742 12%);
}

#consultation .consultation-form form .schedule {
    font-size: 2rem;
}

#consultation .consultation-form form .schedule,
#consultation .consultation-form form label {
    color: var(--white);
}

#consultation .consultation-form form input {
    padding: 1.2rem 0.5rem;
    border: 1px solid transparent;
}

#consultation .consultation-form form input:focus {
    outline: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01) inset, 0 0 150px rgba(126, 239, 104, 0.6);
    border: 1px solid transparent;
}

#consultation .consultation-form form button {
    background: var(--dark1);
    color: var(--white);
    font-size: 14px;
    padding: 0.6rem 1rem;
    letter-spacing: 1.2px;
    transition: .35s ease-in-out;
}

#consultation .consultation-form form button:focus {
    outline: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01) inset, 0 0 150px rgba(126, 239, 104, 0.6);
    border: 1px solid transparent;
}

#consultation .consultation-form form button:hover {
    background: var(--white);
    color: var(--dark1);
    border: 1px solid var(--dark1);
}
/* Consultation Form Ends */

/* Consultation Ends */
/* Main Area Ends */

















/* Media Queries Start */
@media screen and (max-width: 991px) {
    #consultation .consultation-form form {
        width: 100%;
    }
}

/* Media Queries End */